[Unit]
Description=CSYE 6225 App
After=network.target

[Service]
WorkingDirectory=/opt/webapp/
ExecStart=/usr/bin/node server.js
Restart=always
ExecStartPre=/bin/bash -c 'while [ ! -f /opt/webapp/.env ]; do sleep 5; done'
RestartSec=2
User=csye6225
Group=csye6225
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target