[Unit]
Description=CSYE 6225 App
ConditionPathExists=/opt/cloud/webapp-main/
After=network.target

[Service]
Environment=DB_USER=anirban
Environment=DB_PWD=cloud_2024
Environment=DB_NAME=test_database
WorkingDirectory=/opt/cloud/webapp-main/
ExecStart=/usr/bin/node server.js
Restart=always
User=csye6225
Group=csye6225
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target